@import "../../../node_modules/normalize.css/normalize";

@import "variable";
@import "mixin";
@import "common";

@import "utilities";
@import "typography";
@import "selection";

.container {
  padding-left: $gutter;
  padding-right: $gutter;
  margin-left: auto;
  margin-right: auto;
}

@import "header";
@import "logo";
@import "footer";
@import "color";

@import "button";

hr {
  height: 1px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: $black;
  border: 0;
}

.text-center {
  text-align: center;
}

.list-reset {
  @include list;
}

svg path {
  fill: currentColor;
}
